{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="row g-5" style="margin-top: 100">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Account Info</h4>
          <div class="row g-3">

              <div class="col-12">
                  <label>Username: {{ user.username }}</label>
              </div>

              <div class="col-12">
                  <label class="col-2" for="firstName">First Name:</label>
                  <input class="bg-dark text-white rounded" type="text" id="firstName" placeholder="{{ user.first_name }}">
              </div>

              <div class="col-12">
                  <label class="col-2" for="lastName">Last Name:</label>
                  <input class="bg-dark text-white rounded" type="text" id="lastName" placeholder="{{ user.last_name }}">
              </div>


              <div class="col-12">
                  <label class="col-2" for="email">Email:</label>
                  <input class="bg-dark text-white rounded" type="email" id="email" placeholder="dan@gmail.com">
              </div>

              <button class="col-4 btn btn-primary" type="submit">Save Any Updated Info</button>

          </div>

          <hr class="my-4">

          <h4 class="mb-3">File Complaint</h4>

          <div class="row g-3">
              <div>
                  <label>Tell us what happened...</label>
              </div>
              <div class="col-12">
                  <textarea class="bg-dark text-white rounded" id="complaint_text" name="complaint" rows="3"></textarea>
              </div>

              <button class="col-4 btn btn-primary" type="submit">File Complaint</button>

          </div>

          <hr class="my-4">

          <h4 class="mb-3">Balance</h4>

          <form action="{% url 'account' %}" method="post">
              {% csrf_token %}
              <div class="row g-3">
                  <div class="col-12">
                      <label>Current Balance: ${{ balance_foo }}</label>
                  </div>
                  <div class="col-12">
                      <label class="col-2" for="new_funds">Amount to Add:</label>
                      <input class="bg-dark text-white rounded" type="text" id="new_funds" name="funds">
                  </div>

                  <button class="col-4 btn btn-primary" type="submit">Add Funds</button>
              </div>
          </form>


          <hr class="my-4">

          <h4 class="mb-3">Active Reservations</h4>

            <div class="container">
            <div class="card-deck">
                {% with data="12345" %}
                {% for i in data %}
                <div class="card" style="margin-bottom:15px">
                    <div class="card text-center">
                        <div class="card-block">
                        <h4 class="card-title">Car Reservation ID: {{ i }}</h4>
                        <p>Vehicle Type:</p>
                        <p>Start Date:</p>
                        <p>End Date:</p>
                            <div class="card-footer">
                                <button class="btn btn-primary" style="margin-top:10" type="submit">Return Vehicle</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
            </div>



      </div>
    </div>
</div>

{% else %}
    <div class="card card-primary" style="width: 18rem; align-items: center; margin:auto; margin-top:10rem">
        <div class="card-body">
            <p>You are not logged in</p>
            <a class="btn btn-primary center" href="{% url 'login' %}" role="button">Log in</a>
        </div>
        <div>
    </div>

{% endif %}
{% endblock %}