{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}
<form method="post">
{% csrf_token %}
<div class="card-group" style="width: 50rem; margin:auto; margin-top: 100">
    <div class="card">
        <img src="{% static 'calendar_start_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Starting Date</h5>
            <p class="card-text">Please choose the starting date for your reservation.</p>
            <input type="text" id="datepickerStart" name="start" style="width: 80%;" readonly="readonly">
        </div>
    </div>
</div>
<div style="width: 10rem; margin:auto; margin-top: 15; align-items:center">
    <input type="submit" class="btn btn-success" style="width:10rem" value="submit"></input>
</div>
</form>
{% endblock %}
