{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}

<form action="{% url 'cars' %}" method="post">
{% csrf_token %}
<div class="card-group" style="width: 50rem; margin:auto; margin-top: 100">
    <div class="card">
        <img src="{% static 'profile_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            {% if user.is_authenticated%}
            <h5 class="card-title">Welcome {{ user.username }}!</h5>
            {% else%}
            <h5 class="card-title">Welcome!</h5>
            {%endif%}
            <p class="card-text">Let's begin the process of reserving a vehicle.</p>
        </div>

    </div>


    <div class="card">
        <img src="{% static 'three_vehicles_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Vehicle</h5>
            <p class="card-text">Please choose the type of vehicle you would like to reserve.</p>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Vehicle Type</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type">
                    <option value="0" selected>Low cost</option>
                    <option value="1">Middle Ground</option>
                    <option value="2">High Class</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'calendar_start_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Starting Date</h5>
            <p class="card-text">Please choose the starting date for your reservation.</p>
            <input type="text" id="datepickerStart" name="start" style="width: 80%;" readonly="readonly">
        </div>
    </div>
    <div class="card">
        <img src="{% static 'calendar_end_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">End Date</h5>
            <p class="card-text">Please choose the ending date for your reservation.</p>
            <input type="text" id="datepickerEnd" name="end" style="width: 80%;" readonly="readonly">
        </div>
    </div>
</div>
<div style="width: 10rem;margin:auto; margin-top: 15; align-items:center">
    <input type="submit" class="btn btn-success" style="width:10rem" value="submit"></input>
</div>
</form>
{% if noCars %}
    <h2 class="text-center" style="color: red">No cars for those dates, please choose different dates or a different type</h2>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>

    var picker = new Pikaday({
        field: document.getElementById('datepickerStart'),
        format:'YYYY-MM-DD',
        firstDay: 1,
        minDate: new Date(),
        
    });
    let today = new Date()
    let tomorrow = new Date(today)
    tomorrow.setDate(tomorrow.getDate() + 1)
    picker.setDate(today)
    var picker2 = new Pikaday({
        field: document.getElementById('datepickerEnd'),
        format:'YYYY-MM-DD',
        firstDay: 1,
        minDate: new Date()
        
    });
    picker2.setDate(new Date(tomorrow))

</script>
{% endblock %}