{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="card-group" style="width: 50rem; margin:auto; margin-top: 100">
    <div class="card">
        <img src="{% static 'profile_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Welcome {{ user.username }}!</h5>
            <p class="card-text">Let's begin the process of reserving a vehicle.</p>
        </div>

    </div>
    <div class="card">
        <img src="{% static 'three_vehicles_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Vehicle</h5>
            <p class="card-text">Please choose the type of vehicle you would like to reserve.</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Select Vehicle
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Vehicle Picked:</small>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'calendar_start_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">Starting Date</h5>
            <p class="card-text">Please choose the starting date for your reservation.</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Pick Start Date
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Starting Date:</small>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'calendar_end_icon.jpg' %}" class="card-img-top" alt="..." height="200">
        <div class="card-body">
            <h5 class="card-title">End Date</h5>
            <p class="card-text">Please choose the ending date for your reservation.</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Pick Return Date
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Return Date:</small>
        </div>
    </div>
</div>

<div class="card" style="width: 25rem; margin:auto; margin-top: 15; align-items:center">
    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Would you like insurance?
  </label>
</div>
    <button type="button" class="btn btn-success" style="width:10rem">Reserve</button>
</div>

{% else %}
<div class="card card-primary" style="width: 18rem; align-items: center; margin:auto; margin-top:10rem">
    <div class="card-body">
        <p>You are not logged in</p>
        <a class="btn btn-primary center" href="{% url 'login' %}" role="button">Log in</a>
    </div>
    <div>

{% endif %}
{% endblock %}